.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 97%;
  margin: 1em auto;
}

.news-item {
  display: flex;
  gap: 0.5em;
  text-decoration: none;
  color: inherit;
  border: 1px solid #838383;
  border-radius: 0.9em;
  padding: 0.5em;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  flex: 1 0 45ch;

  &:hover {
    box-shadow: 0 0.2em 0.5em rgba(184, 184, 184, 0.5);
  }
}

.news-image {
  flex-shrink: 0;
  margin: 0.5em;
  img {
    width: 6em;
    height: 5em;
    object-fit: cover;
    border-radius: 0.4em;
  }
}

.news-image-gradient {
  flex-shrink: 0;
  border-radius: 0.4em;
  margin: 0.5em;
  width: 6em;
  height: 5em;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    149deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(48, 48, 185) 57%,
    rgb(46, 46, 46) 100%
  );
}

.news-content {
  flex-grow: 1;
  h2 {
    margin: 0;
    font-size: 1em;
    text-wrap: balance;
  }
  p {
    font-size: 0.9em;
    color: #acacac;
  }
}
