<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="news-container">
    @for (newsResult of newsResults; track newsResult.article_id) {
    <a [href]="newsResult.link" target="_blank" class="news-item">
      <div class="news-image">
        <img [src]="newsResult.image_url" alt="News image" />
      </div>
      <div class="news-content">
        <h2>{{newsResult.title}}</h2>
        <p>
          @if (newsResult.description) { {{newsResult.description |
          truncateWords:30}} } @else { No description available. }
        </p>
      </div>
    </a>
    }
  </div>
</ion-content>
