<ion-header [translucent]="true">
  <ion-toolbar>
    @if (countryName) {
    <ion-title slot="start">News | {{countryName}}</ion-title>
    <ion-button slot="end" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    } @else {
    <ion-title slot="start">News</ion-title>
    <ion-button slot="end" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (newsFailed) {
  <h2>No News Found for {{countryName}}</h2>
  @for (char of "0123456789"; track $index) {
  <div class="news-container">
    <div class="news-item">
      <div class="news-image-gradient"></div>
      <div class="news-content">
        <h2>
          <ion-skeleton-text
            [animated]="false"
            style="width: 10ch"
          ></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text
            [animated]="false"
            style="width: 30ch"
          ></ion-skeleton-text>
          <ion-skeleton-text
            [animated]="false"
            style="width: 20ch"
          ></ion-skeleton-text>
        </p>
      </div>
    </div>
  </div>
  } } @else {
  <div class="news-container">
    @for (newsResult of newsResults;track newsResult.article_id) {
    <a [href]="newsResult.link" target="_blank" class="news-item">
      @if (newsResult.image_url) {
      <div class="news-image">
        <img [src]="newsResult.image_url" alt="News image" />
      </div>
      }@else {
      <div class="news-image-gradient"></div>
      }
      <div class="news-content">
        <h2>{{newsResult.title}}</h2>
        <p>
          @if (newsResult.description) { {{newsResult.description |
          truncateWords:30}} } @else { No description available. }
        </p>
      </div>
    </a>
    } @empty { @if (newsResults.length === 0) { @for (char of "0123456789";
    track $index) {
    <div class="news-item">
      <div class="news-image-gradient"></div>
      <div class="news-content">
        <h2>
          <ion-skeleton-text
            [animated]="true"
            style="width: 10ch"
          ></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30ch"
          ></ion-skeleton-text>
          <ion-skeleton-text
            [animated]="true"
            style="width: 20ch"
          ></ion-skeleton-text>
        </p>
      </div>
    </div>
    } } }
  </div>
  }
</ion-content>
