<ion-header [translucent]="true">
  <ion-toolbar>
    @if (cityName) {
    <ion-title>Weather | {{cityName}}</ion-title>
    } @else {
    <ion-title>Weather</ion-title>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="weather-card">
    <img [src]="weatherIconUrl" alt="weather image" />
    <h2>{{weatherResults?.weather?.[0]?.main}}</h2>
    <p>{{weatherResults?.weather?.[0]?.description}}</p>
    <p class="temperature">
      {{weatherResults?.main?.temp}}{{weatherUnitsString}}
    </p>
  </div>
</ion-content>
