<ion-header [translucent]="true">
  <ion-toolbar>
    @if (cityName) {
    <ion-title slot="start">Weather | {{cityName}}</ion-title>
    <ion-button slot="end" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    } @else {
    <ion-title slot="start">Weather</ion-title>
    <ion-button slot="end" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="weather-card">
    <h2>{{weatherResults?.weather?.[0]?.main}}</h2>
    <img [src]="weatherIconUrl" alt="weather image" />
    <p>{{weatherResults?.weather?.[0]?.description}}</p>
    <p class="temperature">
      {{weatherResults?.main?.temp}}{{weatherUnitsString}}
    </p>
  </div>
</ion-content>
