.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 2em 2em;
  background: linear-gradient(135deg, rgb(54, 54, 54), rgb(17, 17, 17));
  border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
  border-radius: 1em;
  padding: 3em;
  box-shadow: 0 0.2em 0.5em rgba(184, 184, 184, 0.5);
}
