#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.search-bar {
  text-align: center;
  border-radius: 1000vw;
  border: solid white 1px;
  box-shadow: 0 0.2em 0.7em white;
  width: 60ch;
  max-width: 95%;
}
