<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G10024983</ion-title>
    <ion-button>
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-country-search-bar
    (countryNameChange)="onCountrySearchChange($event)"
  ></app-country-search-bar>
  <ion-list>
    @for (country of filteredCountries; track country.name.official) {
    <ion-item>{{country.name.official}}</ion-item>
    }
  </ion-list>
</ion-content>
