<ion-header [translucent]="true">
  <ion-toolbar>
    @if (country?.name?.official) {
    <ion-title slot="start">{{country?.name?.official}}</ion-title>
    <ion-button slot="end" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    }@else{
    <ion-title slot="start">Invalid Country</ion-title>
    <ion-button slot="end" routerLink="/home">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-button>
    }
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (country?.name?.official) {
  <ion-card>
    <img src="{{country?.flags?.png}}" alt="Country flag" />
    <ion-card-header>
      <ion-card-title>{{country?.name?.official}}</ion-card-title>
      <ion-card-subtitle>Capital: {{country?.capital}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Check the news or weather for {{country?.name?.common}}
    </ion-card-content>
    <div class="flex">
      <button
        [routerLink]="['/news', country?.name?.official, country?.cca2]"
        class="news"
      >
        <ion-icon name="newspaper-outline"></ion-icon>
        News
      </button>
      <button
        [routerLink]="['/weather', 
          country?.capital?.[0], 
          country?.latlng?.[0], 
          country?.latlng?.[1]]"
        class="weather"
      >
        <ion-icon name="sunny-outline"></ion-icon>
        Weather
      </button>
    </div>
  </ion-card>
  }@else {
  <h2>No Country Found</h2>
  }
</ion-content>
