<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{country?.name?.official}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="{{country?.flags?.png}}" alt="Country flag" />
    <ion-card-header>
      <ion-card-title>{{country?.name?.official}}</ion-card-title>
      <ion-card-subtitle>Capital: {{country?.capital}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Check the news or weather for {{country?.name?.common}}
    </ion-card-content>
    <div class="flex">
      <button
        [routerLink]="['/news', country?.name?.official, country?.cca2]"
        class="news"
      >
        <ion-icon name="newspaper-outline"></ion-icon>
        News
      </button>
      <button
        [routerLink]="['/weather', 
        country?.name?.official, 
        country?.latlng?.[0], 
        country?.latlng?.[1]]"
        class="weather"
      >
        <ion-icon name="sunny-outline"></ion-icon>
        Weather
      </button>
    </div>
  </ion-card>
</ion-content>
